.custom-style-1 {
  -webkit-text-stroke: 1px #1A1A1A; /* Safari */
  color: #ffffff !important; /* 设置为透明，以便显示描边 */
}
.custom-style-2 {
  -webkit-text-stroke: 1px #1A1A1A; /* Safari */
  color: #627EE9 !important; /* 设置为透明，以便显示描边 */
}
.custom-style-3 {
  -webkit-text-stroke: 1px #1A1A1A; /* Safari */
  color: #1A1A1A !important; /* 设置为透明，以便显示描边 */
}
.custom-style-4{
  -webkit-text-stroke: 1px #B463FE; /* Safari */
  color: #B463FE !important; /* 设置为透明，以便显示描边 */
}
.custom-style-5 {
  -webkit-text-stroke: 1px #FF9C20; /* Safari */
  color: #FF9C20 !important; /* 设置为透明，以便显示描边 */
}
.custom-style-6 {
  -webkit-text-stroke: 1px #2278FF; /* Safari */
  color: #2278FF !important; /* 设置为透明，以便显示描边 */
}
.custom-style-7 {
  -webkit-text-stroke: 1px #1A1A1A; /* Safari */
  color: #1A1A1A !important; /* 设置为透明，以便显示描边 */
  background-color: #FFE306;
}
.custom-style-8 {
  -webkit-text-stroke: 1px #1A1A1A; /* Safari */
  color: #FAF5B0 !important; /* 设置为透明，以便显示描边 */
}
.custom-style-9 {
  -webkit-text-stroke: 1px #1A1A1A; /* Safari */
  color: #FF9C20 !important; /* 设置为透明，以便显示描边 */
}
.custom-style-10 {
  -webkit-text-stroke: 1px #F09CAF; /* Safari */
  color: #FFFfff !important; /* 设置为透明，以便显示描边 */
}
.custom-style-11 {
  -webkit-text-stroke: 1px #F86F32; /* Safari */
  color: #FDDC63 !important; /* 设置为透明，以便显示描边 */
}